<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="user" class="com.springStudy.bean.User">
        <property name="date" value="2019-01-16"></property>
    </bean>
    <bean class="com.springStudy.propertyEditor.DatePropertyEditor">
        <property name="format" value="yyyy-mm-dd"></property>
    </bean>
    <bean name="datePropertyEditor" class="com.springStudy.propertyEditor.DatePropertyEditor"></bean>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.springStudy.propertyEditor.DatePropertyEditor">
                </entry>
            </map>
        </property>
    </bean>
</beans>